/* Full-width band */
.contact-section {
    width: 100%;
    background-color: #ebe6df;
    /* slightly darker beige */
    padding: 4rem 1.5rem;
    margin: 0 auto;
}

/* Centered content inside */
.contact-content {
    padding: 4rem 1.5rem;
    max-width: 1400px;
    margin: 0 auto;

}

.contact-body {
    margin: 0 auto;
    text-align: center;
}

.section-title {
    padding: 2rem 2.5rem;
}


/* Text styles */
.contact-heading {
    font-size: 1.75rem;
    font-weight: 600;
    color: #333333;
    margin-bottom: 20px;
    line-height: 1.4;
}

.contact-subtext {
    font-size: 1.15rem;
    color: #5f7d95;
    /* muted medical blue */
    line-height: 1.6;
}

.contact-subtext strong {
    color: #4a6f8a;
    font-weight: 700;
}